// ---
// banner hexagons
// ---

.banner-hexagon {
  user-select: none;
  pointer-events: none;

  position: absolute;
  width: 72px;
  height: 72px;
  background-image: url('../images/banner-hex.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transform: translateY(var(--translateY));
	will-change: transform;
  transition: all 200ms linear;
  will-change: transform;

  animation-name: hex-in;
  animation-duration: 2000ms;
  animation-timing-function: ease-out;
  animation-iteration-count: forwards;
}


@keyframes hex-in {
  000% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}



.banner-hexagon--1 {
  top: 12%;
  left: 16%;
  opacity: 0.24;
  //transform: scale(0.8);
  @include screen-med {
    left: 4%;
  }
}
.banner-hexagon--2 {
  top: 64%;
  left: 8%;
  opacity: 0.4;
  //transform: scale(1);
  @include screen-med {
    left: -4%;
  }
}
.banner-hexagon--3 {
  top: 16%;
  right: 12%;
  opacity: 0.24;
  //transform: scale(0.8);
  @include screen-med {
    right: 6%;
  }
}
.banner-hexagon--4 {
  top: 72%;
  right: 16%;
  opacity: 0.36;
  //transform: scale(1.2);
  @include screen-med {
    display: none;
  }
}
.banner-hexagon--5 {
  top: 80%;
  right: 4%;
  opacity: 0.24;
  //transform: scale(1.1);
  @include screen-med {
    right: -2%;
  }
}
