.home-banner {
  overflow: hidden;
  position: relative;
  padding: 120px 20px 48px;
  text-align: center;
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 240px;
    width: 100%;
    background: white;
  }
  @include screen-med {
    padding: 80px 20px 48px;
    &:after {
      height: 160px;
    }
  }
}
.home-banner__content {
  position: relative;
  z-index: 5;
  margin: 0 0 56px;
}
.home-banner__title {
  text-align: center;
  color: white;
  font-size: 48px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 0 16px;
  @include screen-med {
    font-size: 32px;
  }
}

.home-banner__subtitle {
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 1.6;
  font-weight: normal;
  margin: 0 0 24px;
}

.home-banner__actions {
  display: inline-block;
  height: 56px;
}
.home-banner__signup,
.home-banner__demo {
  float: left;
  padding: 0 8px;
  min-width: 216px;
}

.home-banner__demo {
  @include screen-mob {
    display: none;
  }
}

.home-banner__mockup {
  position: relative;
  overflow: hidden;
  z-index: 5;
  margin: 0 auto;
  max-width: 800px;
  //height: 520px;
  border-radius: 8px;
  background: white;
  box-shadow: $shadow-500;
}

.home-banner__pulse {
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 240px;
  height: 240px;
  transform: translateX(-50%);
  @include screen-med {
    bottom: 0;
  }
}


// _pulse animation
.pulse {
  pointer-events: none;
  position: relative;
  width: 240px;
  height: 240px;
}
.pulse__ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(white,0.1);
  animation-name: pulse-animation;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pulse-animation {
  000% {
    opacity: 1;
    transform: scale(0);
  }
  080% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(5);
  }
}

.pulse__ring:nth-child(1) {
  animation-delay: 0ms;
}
.pulse__ring:nth-child(2) {
  animation-delay: -2000ms;
}
.pulse__ring:nth-child(3) {
  animation-delay: -4000ms;
}
.pulse__ring:nth-child(4) {
  animation-delay: -6000ms;
}
.pulse__ring:nth-child(5) {
  animation-delay: -8000ms;
}

//-
.screenshot {
  position: relative;
  height: 100%;
  width: 100%;
}
.screenshot__video {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 64px 0;
  background-image: linear-gradient(to bottom,transparent, rgba(black,0.5));
  transition: 80ms ease-out;
}


.screenshot-button {
  user-select: none;
  position: relative;
  transition: 80ms ease-out;
  display: inline-block;
  border-radius: 32px;
  padding: 16px 32px 16px 56px;
  background: white;
  color: $color-blue-500;
  box-shadow: $shadow-300;
  &:hover {
    background: $color-grey-300;
    color: $color-blue-700;
    box-shadow: $shadow-400;
  }
  &:active {
    background: $color-grey-300;
    box-shadow: $shadow-200;
  }
}
.screenshot-button__icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 12px 16px 20px;
}
.screenshot-button__text {
  line-height: 24px;
  font-weight: bold;
  font-size: 14px;
}
