// -----------------
// Customers
// -----------------
.customers {}
.customers__title {
  font-family: $font-family;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  color: $color-grey-800;
}
.customers__list {
  text-align: center;
  white-space: nowrap;
  padding: 32px 0 64px;
  max-width: 100%;
  overflow: hidden;
  overflow-x: auto;
  // @include screen-med {
  //   overflow-x: scroll;
  // }
}
.customers__item {
  display: inline-block;
  width: 172px;
  height: 120px;
  background: $color-grey-300;
  border-radius: 4px;
  margin: 0 8px;
}
.customers__viewall {
  text-align: center;
}


// -----------------
// Home content + illustration blocks
// -----------------
.home-content {}
.home-content__section {
  @include screen-med {
    margin: 0 0 40px;
    &:last-child {
      margin: 0;
    }
  }
}

//-
.home-section {}
.home-section--left {
  .home-section__content {
    margin: 0 0 0 440px;
  }
  .home-section__illustration {
    float: left;
  }
}
.home-section--right {
  .home-section__content {
    margin: 0 440px 0 0;
  }
  .home-section__illustration {
    float: right;
  }
}

.home-section__illustration {
  width: 368px;
  height: 368px;
  @include screen-med {
    max-width: 50%;
    height: auto;
    float: none!important;
  }
}
.home-section__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 360px;
  padding: 24px 0;
  @include screen-med {
    min-height: auto;
    padding: 0;
    margin: 0!important;
  }
}
.home-section__label {
  align-self: start;
  padding: 4px 24px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: white;
  background: $color-blue-800;
  border-radius: 24px;
  margin: 0 0 16px;
}
.home-section__heading {
  font-size: 28px;
  line-height: 1.6;
  color: white;
  margin: 0 0 16px;
}
.home-section__description {
  font-size: 16px;
  line-height: 1.6;
  color: white;
}



// -----------------
// Crowdsource block
// -----------------
.home-crowdsource {
  position: relative;
  background: $color-grey-200;
  padding: 0 0 0 400px;
  border-radius: 24px;
  @include screen-med {
    padding: 0;
  }
}
.home-crowdsource__content {
  padding: 80px 40px;
}
.home-crowdsource__title {
  font-size: 28px;
  line-height: 1.4;
  margin: 0 0 16px;
}
.home-crowdsource__text {
  font-size: 16px;
  line-height: 1.6;
  color: $color-grey-700;
  margin: 0 0 24px;
}
.home-crowdsource__button {}

.home-crowdsource__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  @include screen-med {
    display: none;
  }
}
