// layout
html {
  height: 100%;
  min-width: 320px;
}

// main layout
.layout {
  position: relative;
  overflow-y: scroll;
  min-height: 100%;
  background: $color-red-100;
  //padding: 56px 0;
}


//layout__children
.layout__header {
  background: $color-blue-700;
  padding: 0 20px;
}

.layout__banner {
  background: $color-blue-700;
}

.layout__section {
  padding: 80px 24px;
  @include screen-mob {
    padding: 40px 16px;
  }
}
.layout__section--white {
  background: white;
}
.layout__section--grey {
  background: $color-grey-100;
}
.layout__section--plans {
  background: white;
}
.layout__section--blue {
  background: $color-blue-700;
}


.layout__footer {
  height: 56px;
  padding: 0 24px;
  width: 100%;
  background: white;
  overflow: hidden;
  @include screen-mob {
    padding: 0 16px;
  }
}
