// header bar layout
.header-layout {
  position: relative;
  height: 72px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    height: 2px;
    width: 100%;
    background: rgba(white,0.2);
    border-radius: 2px;
  }
}

.header-layout__logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 0;
}
.header-layout__navigation {
  @include screen-med {
    display: none;
  }
}
.header-layout__auth {
  position: absolute;
  top: 0;
  right: 0;
  @include screen-med {
    display: none;
  }
}

//--
.header-logo {
  @include noselect;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  height: 56px;
  width: 206px;
  //background: white;
  background-image: url('../images/logo-white--concept.svg');
  background-size: 206px 56px;
  background-position: center left;
  background-repeat: no-repeat;
  display: block;
  opacity: 1;
  &:hover,
  &:active {
    opacity: 1;
  }
  &:active {
    transform: translateY(2px);
  }
}



//--
.header-navigation {
  text-align: center;
  padding: 16px 0;
}
.header-navigation__item {
  display: inline-block;
  white-space: nowrap;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(white,0.8);
  padding: 8px 16px;
  &:hover,
  &:active {
    color: white;
  }
  &:active {
    transform: translateY(2px);
  }
}
.header-navigation__item--active {
  color: white;
}

//--
.header-auth {
  height: 72px;
  padding: 16px 0;
  text-align: right;
}
.header-auth__login {
  float: left;
  margin: 0 16px 0 0;
}
.header-auth__signup {
  float: left;
  width: 120px;
}

.auth-login {
  display: block;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(white,0.8);
  padding: 8px 16px;
  &:hover,
  &:active {
    color: white;
  }
  &:active {
    transform: translateY(2px);
  }
}
