// header bar layout
.header {
  position: relative;
  height: 72px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    height: 2px;
    width: 100%;
    background: rgba(white,0.2);
    border-radius: 2px;
  }
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 0;
}
.header__navigation {
  @include screen-med {
    display: none;
  }
}
.header__auth {
  position: absolute;
  top: 0;
  right: 0;
  @include screen-med {
    display: none;
  }
}
.header__mobile-button {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  right: -20px;
  padding: 18px 20px;
  opacity: 0.8;
  &:active,
  &:hover {
    opacity: 1;
  }
  @include screen-med {
    display: block;
  }
}
.header__mobile-navigation {
  display: none;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 16px 0;
  &:before {
    content: '';
    display: block;
    border-radius: 8px;
    background: white;
    height: 800px;
    box-shadow: $shadow-400;
  }
}

//--
.header-logo {
  @include noselect;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  height: 56px;
  width: 206px;
  //background: white;
  background-image: url('../images/logo-white--concept.svg');
  background-size: 206px 56px;
  background-position: center left;
  background-repeat: no-repeat;
  display: block;
  opacity: 0.8;
  transition: 80ms ease-out;
  &:hover,
  &:active {
    opacity: 1;
  }
  &:active {
    transform: translateY(2px);
  }
}
.header-logo--selected {
  opacity: 1;
}



//--
.header-navigation {
  text-align: center;
  padding: 16px 0;
}
.header-navigation__item {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(white,0.8);
  padding: 8px 16px;
  transition: 80ms ease-out;
  &:hover,
  &:active {
    color: white;
  }
  &:active {
    transform: translateY(2px);
  }
}
.header-navigation__item--selected {
  color: white;
}

.header-navigation__item--selected:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: white;
  transform: translate(-50%);
}


//--
.header-auth {
  height: 72px;
  padding: 16px 0;
  text-align: right;
}
.header-auth__login {
  float: left;
  margin: 0 16px 0 0;
}
.header-auth__signup {
  float: left;
  width: 120px;
}

.auth-login {
  display: block;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(white,0.8);
  padding: 8px 16px;
  &:hover,
  &:active {
    color: white;
  }
  &:active {
    transform: translateY(2px);
  }
}
