
.plans-banner {
  padding: 120px 0 240px;
  @include screen-med {
    padding: 64px 0;
  }
}

.plans-banner__title {
  text-align: center;
  color: white;
  font-size: 36px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 0 16px;
  @include screen-med {
    font-size: 28px;
  }
}

.plans-banner__border {
  height: 2px;
  width: 120px;
  background: white;
  border-radius: 2px;
  margin: 0 auto;
}
