// Ask a question
.plans-questions {
  max-width: 560px;
  margin: 0 auto;
}
.plans-questions__title {
  margin: 0 0 16px;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}
.plans-questions__subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  color: $color-grey-700;
  margin: 0 0 24px;
}
.plans-questions__cta {
  max-width: 240px;
  margin: 0 auto;
}


// Frequently asked questions
.faq {}
.faq__heading {
  font-size: 28px;
  line-height: 1.6;
  margin: 0 0 40px;
  @include screen-med {
    font-size: 24px;
    text-align: center;
  }
}
.faq__grid {
  margin: -20px;
  @include screen-med {
    margin: -20px 0;
  }
}
.faq__item {
  float: left;
  width: 50%;
  padding: 20px;
  @include screen-med {
    padding: 20px 0;
    width: 100%;
  }
}
.faq__question {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  margin: 0 0 8px;
  color: $color-grey-800;
}
.faq__answer {
  font-size: 16px;
  line-height: 1.6;
  color: $color-grey-700;
}
