// Desktop enterprise plan card
.plan-enterprise {
  position: relative;
  box-shadow: inset 0 0 0 2px $color-grey-300;
  border-radius: 8px;
  padding: 0 0 0 320px;
  margin: 0 auto;
  overflow: hidden;
  @include screen-med {
    display: none;
  }
}
.plan-enterprise__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  padding: 64px 32px;
  background-image: url('../images/hex-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $color-blue-700;
}
.plan-enterprise__title {
  font-size: 24px;
  font-weight: bold;
  font-family: $font-family-heading;
  line-height: 1.2;
  text-align: center;
  color: white;
  margin: 0 0 24px;
}
.plan-enterprise__cta {}


.plan-enterprise__content {
  padding: 32px 32px 32px 24px;
}
.plan-enterprise__included {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  line-height: 24px;
  margin: 0 0 16px 8px;
}
.plan-enterprise__features {}
