// _reset
@import "reset";

// _apply a natural box layout model to all elements
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

svg {
  -webkit-backface-visibility: hidden;
}


// _shared imports
@import "shared/_mixin";
@import "shared/_color";
@import "shared/_breakpoints";
//--
@import "shared/_center";
@import "shared/_type";
@import "shared/_useful";


// _icon
@import "icon/_icon";


// _chrome
@import "chrome/_layout";
@import "chrome/_layout-header";
@import "chrome/_layout-footer";
@import "chrome/_mobile-navigation";
@import "chrome/_parralax-hex";

// _components
@import "components/_typography";
@import "components/_button";
@import "components/_quote";
@import "components/_actionlink";
@import "components/_brainstorming";
@import "components/_animations";


// _svg-animations
@import "_svg-animations/_collaborate";
@import "_svg-animations/_connect";
@import "_svg-animations/_innovation";


// _views
// --home
@import "views/page-home/_banner";
@import "views/page-home/_content";

// --features
@import "views/page-features/_banner";
@import "views/page-features/_content";

// --how it works
@import "views/page-hiw/_banner";
@import "views/page-hiw/_content";

// --pricing
@import "views/page-plans/_banner";
@import "views/page-plans/_plan-container";
@import "views/page-plans/_plan";
@import "views/page-plans/_plan-enterprise";
@import "views/page-plans/_content";

// --blog
