/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.center {
  margin: 0 auto;
  max-width: 1020px; }

.center--1400 {
  max-width: 1400px; }

.center--1120 {
  max-width: 1040px; }

.center--1040 {
  max-width: 1040px; }

.center--960 {
  max-width: 960px; }

.center--800 {
  max-width: 800px; }

.center--640 {
  max-width: 640px; }

.center--540 {
  max-width: 540px; }

.center--480 {
  max-width: 480px; }

::-ms-clear {
  width: 0;
  height: 0; }

::-ms-reveal {
  width: 0;
  height: 0; }

::selection {
  color: #ffffff;
  background: #E91E63;
  /* WebKit/Blink Browsers */ }

html {
  font-size: 62.5%; }

body {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Open Sans", Open-Sans, helvetica, arial;
  line-height: 1.2;
  color: #424242;
  text-rendering: optimizeLegibility; }

body,
input,
button {
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 28px;
  font-size: 2.8rem; }

h2 {
  font-size: 24px;
  font-size: 2.4rem; }

h3 {
  font-size: 20px;
  font-size: 2rem; }

h4 {
  font-size: 18px;
  font-size: 1.8rem; }

h5 {
  font-size: 14px;
  font-size: 1.4rem; }

@media (max-width: 720px) {
  h1, .alpha {
    font-size: 32px;
    font-size: 3.2rem; }
  h2, .beta {
    font-size: 24px;
    font-size: 2.4rem; }
  h3, .gamma {
    font-size: 20px;
    font-size: 2rem; }
  h4, .delta {
    font-size: 18px;
    font-size: 1.8rem; }
  h5, .epsilon {
    font-size: 16px;
    font-size: 1.6rem; }
  h6, .zeta {
    font-size: 16px;
    font-size: 1.6rem; } }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: "Open Sans", Open-Sans, helvetica, arial; }

.heading-size-1 {
  font-size: 28px;
  font-size: 2.8rem; }

.heading-size-2 {
  font-size: 24px;
  font-size: 2.4rem; }

.heading-size-3 {
  font-size: 20px;
  font-size: 2rem; }

.heading-size-4 {
  font-size: 18px;
  font-size: 1.8rem; }

.heading-size-5 {
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem; }

em,
.text-italic {
  font-style: italic; }

strong,
.text-bold {
  font-weight: 600; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

.link-primary {
  color: #E91E63;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
  .link-primary:hover, .link-primary:active {
    text-decoration: underline; }
  .link-primary:hover {
    color: #C2185B; }
  .link-primary:active {
    color: #880E4F; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-italic {
  font-style: italic; }

.text-white {
  color: white; }

.text-break {
  -ms-word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block; }

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto; }

code {
  font-family: consolas, monaco, courier, "courier new";
  line-height: inherit;
  font-size: 14px;
  font-size: 1.4rem; }

pre {
  display: block;
  background: #E0E0E0;
  border-radius: 4px;
  font-family: consolas, monaco, courier, "courier new";
  padding: 24px; }
  pre code {
    padding: 2px 0 !important;
    display: block !important; }

noselect,
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

nowrap,
.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.hide {
  display: none; }

@font-face {
  font-family: 'Flaticons Stroke';
  src: url("../fonts/flaticons-stroke/flaticons-stroke.eot");
  src: url("../fonts/flaticons-stroke/flaticons-stroke.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticons-stroke/flaticons-stroke.woff") format("woff"), url("../fonts/flaticons-stroke/flaticons-stroke.ttf") format("truetype"), url("../fonts/flaticons-stroke/flaticons-stroke.svg#flaticons-stroke") format("svg"); }

@font-face {
  font-family: 'Flaticons Social';
  src: url("../fonts/flaticons-social/flaticons-social.eot");
  src: url("../fonts/flaticons-social/flaticons-social.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticons-social/flaticons-social.woff") format("woff"), url("../fonts/flaticons-social/flaticons-social.ttf") format("truetype"), url("../fonts/flaticons-social/flaticons-social.svg#flaticons-social") format("svg"); }

.icon--16, .icon--16:before {
  display: block;
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  text-align: center; }

.social-icon:before {
  font-family: 'Flaticons Social'; }

.flat-icon:before {
  font-family: 'Flaticons Stroke'; }

.flat-icon:before,
.social-icon:before {
  line-height: 1;
  display: block;
  vertical-align: middle;
  text-align: center;
  font-weight: normal !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

.icon--grey {
  color: #9E9E9E; }

.icon--green {
  color: #4CAF50; }

.icon--blue {
  color: #2196F3; }

.icon--facebook:before {
  content: '\e7d0'; }

.icon--twitter:before {
  content: '\e7d1'; }

.icon--pinterest:before {
  content: '\e7d5'; }

.icon--googleplus:before {
  content: '\e7d9'; }

.icon--arrow-up:before {
  content: '\e5b0'; }

.icon--arrow-down:before {
  content: '\e5b1'; }

.icon--arrow-left:before {
  content: '\e5b2'; }

.icon--arrow-right:before {
  content: '\e5b3'; }

.icon--cross:before {
  content: '\e5a3'; }

.icon--microscope:before {
  content: '\e45a'; }

.icon--menu:before {
  content: '\e53e'; }

.icon--maximize:before {
  content: '\e58e'; }

.icon--dropdown-arrow:before {
  content: '\e5a5'; }

.icon--trash:before {
  content: '\e481'; }

.icon--archive:before {
  content: '\e47a'; }

.icon--edit:before {
  content: '\e48a'; }

.icon--scan:before {
  content: '\e42e'; }

.icon--plus:before {
  content: '\e5a0'; }

.icon--minus:before {
  content: '\e5a1'; }

.icon--tick:before {
  content: '\e5a2'; }

.icon--circle-tick:before {
  content: '\e5b6'; }

.icon--circle-cross:before {
  content: '\e5b7'; }

html {
  height: 100%;
  min-width: 320px; }

.layout {
  position: relative;
  overflow-y: scroll;
  min-height: 100%;
  background: #FFCDD2; }

.layout__header {
  background: #1976D2;
  padding: 0 20px; }

.layout__banner {
  background: #1976D2; }

.layout__section {
  padding: 80px 20px; }
  @media screen and (max-width: 720px) {
    .layout__section {
      padding: 64px 20px; } }

.layout__section--white {
  background: white; }

.layout__section--grey {
  background: #F5F5F5; }

.layout__section--blue {
  background: #1976D2; }

.layout__plans {
  padding: 80px 20px 0;
  background: white; }
  @media screen and (max-width: 960px) {
    .layout__plans {
      padding: 0px 20px 40px;
      background: #1976D2; } }

.layout__quote {
  position: relative;
  padding: 0 20px;
  background: white; }
  .layout__quote:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; }

.layout__quote--blue-to-grey {
  background: #1976D2; }
  .layout__quote--blue-to-grey:before {
    background: #F5F5F5; }

.layout__quote--white-to-grey {
  background: white; }
  .layout__quote--white-to-grey:before {
    background: #F5F5F5; }

.layout__quote--white-to-blue {
  background: white; }
  .layout__quote--white-to-blue:before {
    background: #1976D2; }

.layout__quote--grey-to-white {
  background: #F5F5F5; }
  .layout__quote--grey-to-white:before {
    background: white; }

.layout__quote--grey-to-blue {
  background: #F5F5F5; }
  .layout__quote--grey-to-blue:before {
    background: #1976D2; }

.layout__footer {
  padding: 0 20px;
  width: 100%;
  background: #F5F5F5; }

.header {
  position: relative;
  height: 72px; }
  .header:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    height: 2px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px; }

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 0; }

@media screen and (max-width: 960px) {
  .header__navigation {
    display: none; } }

.header__auth {
  position: absolute;
  top: 0;
  right: 0; }
  @media screen and (max-width: 960px) {
    .header__auth {
      display: none; } }

.header__mobile-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 0; }
  .header__mobile-button:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%; }
  @media screen and (max-width: 960px) {
    .header__mobile-button {
      display: block; } }

.header__mobile-navigation {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 16px 0; }
  .header__mobile-navigation:before {
    content: '';
    display: block;
    border-radius: 8px;
    background: white;
    height: 800px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.header-logo {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  height: 56px;
  width: 206px;
  background-image: url("../images/logo-white--concept.svg");
  background-size: 206px 56px;
  background-position: center left;
  background-repeat: no-repeat;
  display: block;
  opacity: 1; }
  .header-logo:hover, .header-logo:active {
    opacity: 1; }
  .header-logo:active {
    transform: translateY(2px); }

.header-navigation {
  text-align: center;
  padding: 16px 0; }

.header-navigation__item {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  padding: 8px 16px; }
  .header-navigation__item:hover, .header-navigation__item:active {
    color: white; }
  .header-navigation__item:active {
    transform: translateY(2px); }

.header-navigation__item--selected {
  color: white; }

.header-navigation__item--selected:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: white;
  transform: translate(-50%); }

.header-auth {
  height: 72px;
  padding: 16px 0;
  text-align: right; }

.header-auth__login {
  float: left;
  margin: 0 16px 0 0; }

.header-auth__signup {
  float: left;
  width: 120px; }

.auth-login {
  display: block;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  padding: 8px 16px; }
  .auth-login:hover, .auth-login:active {
    color: white; }
  .auth-login:active {
    transform: translateY(2px); }

.header-mobile {
  display: none;
  height: 56px;
  position: relative;
  background: white; }
  @media screen and (max-width: 720px) {
    .header-mobile {
      display: block; } }

.header-mobile--open {
  height: auto; }

.header-mobile__mark {
  padding: 8px 0;
  height: 56px; }

.mobile-mark {
  display: block;
  width: 40px;
  height: 40px;
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/logo/mark_36--black.png");
  background-image: url("../images/logo/mark_36--black.svg"); }

.header-mobile__menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 0;
  height: 56px; }

.menu-button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  padding: 6px;
  background: transparent;
  color: white;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.8); }

.menu-button--open {
  background: #C2185B; }

.header-mobile__navigation {
  display: none;
  background: white;
  border-top: 1px solid #E0E0E0;
  padding: 0 0 24px; }

.header-mobile__navigation--visible {
  display: block; }

.header-mobile__navigation-item {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
  display: block;
  padding: 16px;
  line-height: 20px;
  border-bottom: 1px solid #E0E0E0;
  color: #616161; }
  .header-mobile__navigation-item:active {
    background: #EEEEEE; }
  .header-mobile__navigation-item:last-child {
    border: none; }

.footer-content {
  position: relative;
  padding: 64px 0; }
  .footer-content:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #E0E0E0;
    width: 100%;
    height: 2px;
    border-radius: 2px; }

.footer-content__left {
  float: left;
  padding: 0 80px 0 0; }
  @media screen and (max-width: 960px) {
    .footer-content__left {
      padding: 0;
      margin: 0 0 32px;
      float: none; } }

.footer-content__right {
  float: right; }
  @media screen and (max-width: 960px) {
    .footer-content__right {
      float: none; } }

.footer-content__heading {
  font-weight: 600;
  margin: 0 0 16px; }
  .footer-content__heading:after {
    content: '';
    display: block;
    background: #E0E0E0;
    width: 64px;
    height: 2px;
    margin: 8px 0 0;
    border-radius: 2px; }

.footer-content__link {
  user-select: none;
  padding: 4px 0;
  display: block;
  font-size: 14px;
  line-height: 1.6;
  color: #2196F3; }
  .footer-content__link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #1976D2; }
  .footer-content__link:active {
    color: #1976D2;
    transform: translateY(2px); }
  @media screen and (max-width: 960px) {
    .footer-content__link {
      font-size: 14px;
      padding: 8px 0;
      border-bottom: 1px solid #E0E0E0; } }

.footer-content__social {
  float: left;
  width: 56px;
  height: 56px;
  background: #E0E0E0;
  border-radius: 50%;
  margin: 0 16px 0 0; }
  .footer-content__social:last-child {
    margin: 0; }

.footer-secondary {
  position: relative;
  padding: 24px 0; }

.footer-secondary__copyright {
  float: left;
  line-height: 24px;
  color: #757575;
  font-size: 14px;
  font-weight: 600; }

.footer-secondary__legal {
  float: right; }
  @media screen and (max-width: 960px) {
    .footer-secondary__legal {
      width: 100%;
      margin: 0 0 16px; } }

.footer-secondary__link {
  float: left;
  line-height: 24px;
  font-size: 14px;
  user-select: none;
  display: block;
  color: #2196F3; }
  .footer-secondary__link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #1976D2; }
  .footer-secondary__link:active {
    color: #1976D2;
    transform: translateY(2px); }

.footer-secondary__seperator {
  float: left;
  display: block;
  width: 24px;
  height: 24px;
  padding: 6px;
  margin: 0 16px; }
  .footer-secondary__seperator:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #BDBDBD; }

.typography {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.4; }
  .typography a {
    color: #E91E63;
    text-decoration: underline; }
    .typography a:hover {
      color: #C2185B; }
    .typography a:active {
      color: #880E4F; }
    .typography a:visited {
      color: #E91E63; }
  .typography p {
    margin: 8px 0 20px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; }
    .typography p:first-child {
      margin-top: 0; }
  .typography ol {
    list-style: decimal; }
  .typography ul {
    list-style: disc; }
  .typography ul, .typography ol {
    margin: 8px 0 24px;
    padding: 0 0 0 20px; }
  .typography h1 {
    margin: 32px 0 16px; }
  .typography h2 {
    margin: 24px 0 12px; }
  .typography h3 {
    margin: 24px 0 8px; }
  .typography h4 {
    margin: 24px 0 8px; }
  .typography h5 {
    margin: 16px 0 0; }
  .typography h6 {
    margin: 16px 0 0; }
  .typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
    font-weight: 600;
    line-height: 1.2; }
    .typography h1:first-child, .typography h2:first-child, .typography h3:first-child, .typography h4:first-child, .typography h5:first-child, .typography h6:first-child {
      margin-top: 0; }
  .typography code {
    display: inline-block;
    word-break: keep-all;
    padding: 2px 4px;
    line-height: 16px;
    border-radius: 3px;
    background: #E0E0E0; }
  .typography img {
    max-width: 100%;
    display: block; }
  .typography blockquote {
    margin: 24px 0; }

.typography--large {
  font-size: 120%; }

.typography p:last-child,
.typography a:last-child,
.typography h4:last-child,
.typography ul:last-child,
.typography ol:last-child {
  margin: 0; }

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  font-family: "Open Sans", Open-Sans, helvetica, arial;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  display: block;
  width: 100%;
  border-radius: 4px;
  text-align: center;
  border: 2px solid #000;
  outline: none;
  text-decoration: none; }
  .button.button--hover, .button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .button.button--active, .button:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.button--28 {
  font-size: 12px;
  height: 28px;
  line-height: 24px;
  padding: 0 12px; }

.button--32 {
  height: 32px;
  font-size: 14px;
  line-height: 24px;
  padding: 2px 12px; }

.button--36 {
  height: 36px;
  font-size: 14px;
  line-height: 24px;
  padding: 4px 12px; }

.button--40 {
  height: 40px;
  line-height: 24px;
  padding: 6px 16px; }

.button--48 {
  height: 48px;
  line-height: 24px;
  padding: 10px 20px; }

.button--56 {
  height: 56px;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 32px; }

.button--shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .button--shadow:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .button--shadow:active {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.button--white-stroke {
  color: #424242;
  background: white;
  border-color: #BDBDBD; }
  .button--white-stroke:hover {
    background: white;
    border-color: #9E9E9E; }
  .button--white-stroke.button--active, .button--white-stroke:active {
    background: white;
    border-color: #2196F3; }

.button--white {
  color: #424242;
  background: white;
  border-color: white; }
  .button--white:hover {
    background: #EEEEEE;
    border-color: #EEEEEE; }
  .button--white.button--active, .button--white:active {
    background: #E0E0E0;
    border-color: #E0E0E0; }

.button--transparent-stroke {
  color: white;
  background: transparent;
  border-color: rgba(255, 255, 255, 0.6); }
  .button--transparent-stroke.button--hover, .button--transparent-stroke:focus, .button--transparent-stroke:hover {
    color: white;
    border-color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.2); }
  .button--transparent-stroke.button--active, .button--transparent-stroke:active {
    color: white;
    border-color: white;
    background: rgba(255, 255, 255, 0.2); }

.button--pink {
  color: white;
  background: #E91E63;
  border-color: #E91E63; }
  .button--pink.button--hover, .button--pink:focus, .button--pink:hover {
    background: #F06292; }
  .button--pink.button--active, .button--pink:active {
    background: #C2185B; }

.button--pink-stroke {
  color: #C2185B;
  background: transparent;
  border-color: #E91E63; }
  .button--pink-stroke.button--hover, .button--pink-stroke:focus, .button--pink-stroke:hover {
    color: #C2185B;
    border-color: #E91E63;
    background: rgba(255, 255, 255, 0.2); }
  .button--pink-stroke.button--active, .button--pink-stroke:active {
    color: #C2185B;
    border-color: #C2185B;
    background: rgba(255, 255, 255, 0.2); }

.button--red {
  color: white;
  background: #F44336;
  border-color: #F44336; }
  .button--red.button--hover, .button--red:focus, .button--red:hover {
    background: #E57373; }
  .button--red.button--active, .button--red:active {
    background: #D32F2F; }

.button--pink-stroke {
  color: #D32F2F;
  background: transparent;
  border-color: #F44336; }
  .button--pink-stroke.button--hover, .button--pink-stroke:focus, .button--pink-stroke:hover {
    color: #D32F2F;
    border-color: #F44336;
    background: rgba(255, 255, 255, 0.2); }
  .button--pink-stroke.button--active, .button--pink-stroke:active {
    color: #D32F2F;
    border-color: #D32F2F;
    background: rgba(255, 255, 255, 0.2); }

.button--green {
  color: white;
  background: #4CAF50;
  border-color: #4CAF50; }
  .button--green.button--hover, .button--green:focus, .button--green:hover {
    background: #81C784; }
  .button--green.button--active, .button--green:active {
    background: #388E3C; }

.button--green-stroke {
  color: #388E3C;
  background: transparent;
  border-color: #4CAF50; }
  .button--green-stroke.button--hover, .button--green-stroke:focus, .button--green-stroke:hover {
    color: #388E3C;
    border-color: #4CAF50;
    background: rgba(255, 255, 255, 0.2); }
  .button--green-stroke.button--active, .button--green-stroke:active {
    color: #388E3C;
    border-color: #388E3C;
    background: rgba(255, 255, 255, 0.2); }

.button--blue {
  color: white;
  background: #2196F3;
  border-color: #2196F3; }
  .button--blue.button--hover, .button--blue:focus, .button--blue:hover {
    background: #64B5F6; }
  .button--blue.button--active, .button--blue:active {
    background: #1976D2; }

.button--blue-stroke {
  color: #1976D2;
  background: transparent;
  border-color: #2196F3; }
  .button--blue-stroke.button--hover, .button--blue-stroke:focus, .button--blue-stroke:hover {
    color: #1976D2;
    border-color: #2196F3;
    background: rgba(255, 255, 255, 0.2); }
  .button--blue-stroke.button--active, .button--blue-stroke:active {
    color: #1976D2;
    border-color: #1976D2;
    background: rgba(255, 255, 255, 0.2); }

.button--purple {
  color: white;
  background: #9C27B0;
  border-color: #9C27B0; }
  .button--purple.button--hover, .button--purple:focus, .button--purple:hover {
    background: #BA68C8; }
  .button--purple.button--active, .button--purple:active {
    background: #7B1FA2; }

.button--purple-stroke {
  color: #7B1FA2;
  background: transparent;
  border-color: #9C27B0; }
  .button--purple-stroke.button--hover, .button--purple-stroke:focus, .button--purple-stroke:hover {
    color: #7B1FA2;
    border-color: #9C27B0;
    background: rgba(255, 255, 255, 0.2); }
  .button--purple-stroke.button--active, .button--purple-stroke:active {
    color: #7B1FA2;
    border-color: #7B1FA2;
    background: rgba(255, 255, 255, 0.2); }

.button--cyan {
  color: white;
  background: #00a7b7;
  border-color: #00a7b7; }
  .button--cyan.button--hover, .button--cyan:focus, .button--cyan:hover {
    background: #00c7dd; }
  .button--cyan.button--active, .button--cyan:active {
    background: #007377; }

.button--cyan-stroke {
  color: #007377;
  background: transparent;
  border-color: #00a7b7; }
  .button--cyan-stroke.button--hover, .button--cyan-stroke:focus, .button--cyan-stroke:hover {
    color: #007377;
    border-color: #00a7b7;
    background: rgba(255, 255, 255, 0.2); }
  .button--cyan-stroke.button--active, .button--cyan-stroke:active {
    color: #007377;
    border-color: #007377;
    background: rgba(255, 255, 255, 0.2); }

.button--grey {
  color: white;
  background: #9E9E9E;
  border-color: #9E9E9E; }
  .button--grey.button--hover, .button--grey:focus, .button--grey:hover {
    background: #BDBDBD; }
  .button--grey.button--active, .button--grey:active {
    background: #757575; }

.button--grey-stroke {
  color: #616161;
  background: transparent;
  border-color: #BDBDBD; }
  .button--grey-stroke.button--hover, .button--grey-stroke:focus, .button--grey-stroke:hover {
    color: #616161;
    border-color: #BDBDBD; }
  .button--grey-stroke.button--active, .button--grey-stroke:active {
    color: #616161;
    background: white;
    border-color: #BDBDBD; }

.button--disabled {
  box-shadow: none !important;
  cursor: not-allowed !important;
  color: white !important;
  border-color: #BDBDBD !important;
  background: #BDBDBD !important; }

.button--add-remove {
  color: white;
  background: #4CAF50;
  border-color: #4CAF50; }
  .button--add-remove.button--hover, .button--add-remove:focus, .button--add-remove:hover {
    background: #E57373;
    border-color: #F44336; }
  .button--add-remove.button--active, .button--add-remove:active {
    background: #D32F2F;
    border-color: #F44336; }

.button__icon {
  width: 24px;
  height: 24px;
  margin: 0 auto; }

.button__icon--16 {
  padding: 4px; }

.button-inner {
  position: relative;
  display: inline-block; }

.button-inner--block {
  display: block; }

.button-inner--icon-after {
  padding-right: 24px; }

.button-inner--icon-before {
  padding-left: 24px; }

.button-inner__text {
  line-height: 24px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.button-inner__icon-after {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  padding: 4px 0 4px 8px; }

.button-inner__icon-before {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  padding: 4px 8px 4px 0; }

.quote-card {
  clear: both;
  position: relative;
  padding: 0 0 0 240px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  background: white;
  overflow: hidden;
  max-width: 760px;
  margin: 0 auto; }
  @media screen and (max-width: 960px) {
    .quote-card {
      padding: 0 0 160px 0; } }

.quote-card__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  background: black; }
  @media screen and (max-width: 960px) {
    .quote-card__logo {
      top: auto;
      bottom: 0;
      height: 160px;
      width: 100%; } }

.quote-card__icon {
  position: absolute;
  top: 50%;
  left: 240px;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transform: translate(-50%, -50%); }
  .quote-card__icon:before {
    content: '"';
    display: block;
    color: #757575;
    font-size: 40px;
    font-weight: bold;
    line-height: 64px;
    text-align: center;
    width: 64px; }
  @media screen and (max-width: 960px) {
    .quote-card__icon {
      top: auto;
      left: 50%;
      bottom: 160px;
      transform: translate(-50%, 50%); } }

.quote-card__content {
  padding: 24px 24px 24px 56px; }
  @media screen and (max-width: 960px) {
    .quote-card__content {
      padding: 24px 24px 32px; } }

.quote-card__comment {
  font-size: 18px;
  line-height: 1.4;
  color: #616161;
  margin: 0 0 32px; }

.quote-card__author {
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
  margin: 0 0 8px; }

.quote-card__author-role {
  font-size: 14px;
  line-height: 1.6;
  font-weight: normal;
  margin: 0 0 8px;
  color: #757575; }

.actionlink {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  position: relative;
  padding: 0 24px 0 0;
  color: #2196F3; }
  .actionlink:hover {
    color: #1976D2; }
  .actionlink:active {
    transform: translateY(2px); }
  .actionlink:hover .actionlink__icon, .actionlink:active .actionlink__icon {
    right: -4px; }

.actionlink__icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  width: 16px;
  padding: 4px 0;
  transition: 80ms ease-in-out; }

.actionlink__text {
  line-height: 24px;
  font-size: 14px;
  font-weight: bold; }

.brainstorm {
  max-width: 480px;
  padding: 40px 0;
  margin: 0 auto;
  text-align: center; }
  @media screen and (max-width: 960px) {
    .brainstorm {
      padding: 20px 0; } }

.brainstorm__title {
  color: white;
  text-align: center;
  margin: 0 0 24px; }

.brainstorm__actions {
  display: inline-block; }

.brainstorm__signup,
.brainstorm__demo {
  float: left;
  display: block;
  padding: 0 8px;
  min-width: 216px; }
  @media screen and (max-width: 720px) {
    .brainstorm__signup,
    .brainstorm__demo {
      width: 100%;
      padding: 8px 0; } }

.svg-bulb__glow {
  animation-name: svg-bulb-glow;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite; }

@keyframes svg-bulb-glow {
  000% {
    opacity: 0.8; }
  100% {
    opacity: 0.2; } }

.svg-bulb__dot {
  animation-name: svg-bulb-dot;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite; }

.svg-bulb__dot--100 {
  animation-delay: -2400ms; }

.svg-bulb__dot--200 {
  animation-delay: -2000ms; }

.svg-bulb__dot--300 {
  animation-delay: -1600ms; }

.svg-bulb__dot--400 {
  animation-delay: -1200ms; }

.svg-bulb__dot--500 {
  animation-delay: -800ms; }

.svg-bulb__dot--600 {
  animation-delay: -400ms; }

.svg-bulb__dot--700 {
  animation-delay: -000ms; }

@keyframes svg-bulb-dot {
  000% {
    opacity: 0; }
  020% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.home-banner {
  overflow: hidden;
  position: relative;
  padding: 120px 20px 48px;
  text-align: center; }
  .home-banner:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 240px;
    width: 100%;
    background: white; }
  @media screen and (max-width: 960px) {
    .home-banner {
      padding: 80px 20px 48px; } }

.home-banner__content {
  position: relative;
  z-index: 5;
  margin: 0 0 56px; }

.home-banner__title {
  text-align: center;
  color: white;
  font-size: 48px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 0 16px; }
  @media screen and (max-width: 960px) {
    .home-banner__title {
      font-size: 32px; } }

.home-banner__subtitle {
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 1.6;
  font-weight: normal;
  margin: 0 0 24px; }

.home-banner__actions {
  display: inline-block;
  height: 56px; }

.home-banner__signup,
.home-banner__demo {
  float: left;
  padding: 0 8px;
  min-width: 216px; }

@media screen and (max-width: 720px) {
  .home-banner__demo {
    display: none; } }

.home-banner__mockup {
  position: relative;
  overflow: hidden;
  z-index: 5;
  margin: 0 auto;
  max-width: 800px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.home-banner__pulse {
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 240px;
  height: 240px;
  transform: translateX(-50%); }

.pulse {
  pointer-events: none;
  position: relative;
  width: 240px;
  height: 240px; }

.pulse__ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  animation-name: pulse-animation;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@keyframes pulse-animation {
  000% {
    opacity: 1;
    transform: scale(0); }
  080% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(5); } }

.pulse__ring:nth-child(1) {
  animation-delay: 0ms; }

.pulse__ring:nth-child(2) {
  animation-delay: -2000ms; }

.pulse__ring:nth-child(3) {
  animation-delay: -4000ms; }

.pulse__ring:nth-child(4) {
  animation-delay: -6000ms; }

.pulse__ring:nth-child(5) {
  animation-delay: -8000ms; }

.screenshot {
  position: relative;
  height: 100%;
  width: 100%; }
  .screenshot:hover .screenshot__video {
    padding: 48px 0; }

.screenshot__video {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 48px 0 24px;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  transition: 80ms ease-out; }

.customers__title {
  font-family: "Open Sans", Open-Sans, helvetica, arial;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  color: #424242; }

.customers__list {
  text-align: center;
  white-space: nowrap;
  padding: 32px 0 64px;
  max-width: 100%;
  overflow: hidden;
  overflow-x: auto; }

.customers__item {
  display: inline-block;
  width: 172px;
  height: 120px;
  background: #E0E0E0;
  border-radius: 4px;
  margin: 0 8px; }

.customers__viewall {
  text-align: center; }

.home-section--left .home-section__content {
  margin: 0 0 0 440px; }

.home-section--left .home-section__illustration {
  float: left; }

.home-section--right .home-section__content {
  margin: 0 440px 0 0; }

.home-section--right .home-section__illustration {
  float: right; }

.home-section__illustration {
  width: 368px;
  height: 368px; }
  @media screen and (max-width: 960px) {
    .home-section__illustration {
      max-width: 100%;
      height: auto;
      float: none !important; } }

.home-section__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 360px;
  padding: 24px 0; }
  @media screen and (max-width: 960px) {
    .home-section__content {
      padding: 0;
      margin: 0 !important; } }

.home-section__label {
  align-self: start;
  padding: 4px 24px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: white;
  background: #1565C0;
  border-radius: 24px;
  margin: 0 0 16px; }

.home-section__heading {
  font-size: 28px;
  line-height: 1.6;
  color: white;
  margin: 0 0 16px; }

.home-section__description {
  font-size: 16px;
  line-height: 1.6;
  color: white; }

.home-crowdsource {
  position: relative;
  background: #EEEEEE;
  padding: 0 0 0 400px;
  border-radius: 24px; }
  @media screen and (max-width: 960px) {
    .home-crowdsource {
      padding: 0; } }

.home-crowdsource__content {
  padding: 80px 40px; }

.home-crowdsource__title {
  font-size: 28px;
  line-height: 1.4;
  margin: 0 0 16px; }

.home-crowdsource__text {
  font-size: 16px;
  line-height: 1.6;
  color: #616161;
  margin: 0 0 24px; }

.home-crowdsource__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%; }
  @media screen and (max-width: 960px) {
    .home-crowdsource__image {
      display: none; } }

.features-banner {
  padding: 120px 20px 240px; }
  @media screen and (max-width: 960px) {
    .features-banner {
      padding: 80px 20px; } }

.features-banner__content {
  margin: 0 440px 0 0; }
  @media screen and (max-width: 960px) {
    .features-banner__content {
      margin: 0; } }

.features-banner__title {
  text-align: left;
  color: white;
  font-size: 36px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 0 16px; }
  @media screen and (max-width: 960px) {
    .features-banner__title {
      font-size: 32px; } }

.features-banner__border {
  width: 160px;
  height: 2px;
  border-radius: 2px;
  margin: 0 0 24px;
  background: white; }

.features-banner__subtitle {
  font-size: 18px;
  line-height: 1.6;
  color: white;
  margin: 0 0 24px; }

.features-banner__actions {
  height: 56px; }

.features-banner__signup,
.features-banner__demo {
  float: left; }

.features-banner__demo {
  padding: 0 0 0 16px; }

.features-banner__illustration {
  float: right;
  width: 368px;
  height: 368px;
  margin: -56px 0 0; }
  @media screen and (max-width: 960px) {
    .features-banner__illustration {
      display: none; } }

.feature-primary {
  margin: -160px -8px 72px;
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 960px) {
    .feature-primary {
      margin: 8px 0; } }

.feature-primary__item {
  float: left;
  width: calc(100%/3);
  padding: 0 8px; }
  @media screen and (max-width: 960px) {
    .feature-primary__item {
      width: auto;
      float: none;
      padding: 0;
      margin: 16px 0; } }

.feature-secondary {
  margin: -8px;
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 960px) {
    .feature-secondary {
      margin: 0; } }

.feature-secondary__item {
  float: left;
  width: 50%;
  padding: 8px; }
  @media screen and (max-width: 960px) {
    .feature-secondary__item {
      width: auto;
      float: none;
      padding: 0;
      margin: 16px 0; } }

.primary-feature {
  position: relative;
  background: white;
  height: 100%;
  width: 100%;
  padding: 32px 24px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden; }
  @media screen and (max-width: 960px) {
    .primary-feature {
      height: auto;
      box-shadow: none;
      padding: 0 0 0 80px; } }

.primary-feature__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 8px; }

.primary-feature__desc {
  font-size: 14px;
  line-height: 1.6;
  color: #616161; }

.primary-feature__icon {
  top: 24px;
  left: 24px;
  background: #2196F3;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 0 0 16px; }
  @media screen and (max-width: 960px) {
    .primary-feature__icon {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0; } }

.secondary-feature {
  position: relative;
  background: white;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  box-shadow: inset 0 0 0 2px #E0E0E0;
  padding: 24px 24px 24px 104px; }
  @media screen and (max-width: 960px) {
    .secondary-feature {
      padding: 0 0 0 80px;
      box-shadow: none; } }

.secondary-feature__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 8px; }

.secondary-feature__desc {
  font-size: 14px;
  line-height: 1.6;
  color: #616161; }

.secondary-feature__icon {
  position: absolute;
  top: 24px;
  left: 24px;
  background: #2196F3;
  width: 56px;
  height: 56px;
  border-radius: 50%; }
  @media screen and (max-width: 960px) {
    .secondary-feature__icon {
      top: 0;
      left: 0; } }

.hiw-banner {
  padding: 120px 0 240px; }
  @media screen and (max-width: 960px) {
    .hiw-banner {
      padding: 80px 0; } }

.hiw-banner__title {
  text-align: center;
  color: white;
  font-size: 36px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 0 16px; }

.hiw-banner__border {
  height: 2px;
  width: 160px;
  background: white;
  border-radius: 2px;
  margin: 0 auto; }

.hiw-container {
  margin: -200px 0 0; }

.hiw-container__step {
  width: 100%; }

.hiw-container__dots {
  width: 24px;
  margin: 0 auto; }

.hiw-progress__dot {
  margin: 16px 8px;
  width: 8px;
  height: 8px;
  border-radius: 6px;
  background: #E0E0E0; }

.hiw-progress--animate .hiw-progress__dot {
  animation-name: progress-dot;
  animation-duration: 2.4s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite; }

@keyframes progress-dot {
  000% {
    background: #E0E0E0;
    transform: scale(1); }
  020% {
    background: #2196F3;
    transform: scale(1.4); }
  050%,
  100% {
    background: #E0E0E0;
    transform: scale(1); } }

.hiw-progress__dot:nth-child(1) {
  animation-delay: 0ms; }

.hiw-progress__dot:nth-child(2) {
  animation-delay: 200ms; }

.hiw-progress__dot:nth-child(3) {
  animation-delay: 400ms; }

.hiw-progress__dot:nth-child(4) {
  animation-delay: 600ms; }

.hiw-progress__dot:nth-child(5) {
  animation-delay: 800ms; }

.hiw-step {
  position: relative;
  padding: 0 0 0 240px;
  border-radius: 8px;
  background: white;
  box-shadow: inset 0 0 0 2px #E0E0E0; }

.hiw-step--selected {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.hiw-step__indicator {
  position: absolute;
  top: -32px;
  left: -32px;
  height: 64px;
  width: 64px;
  background: #9C27B0;
  border-radius: 40px;
  border: 2px solid white;
  z-index: 5; }

.hiw-step__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  background: black;
  border-radius: 8px 0 0 8px; }

.hiw-step__content {
  height: 440px; }

.plans-banner {
  padding: 120px 0 240px; }
  @media screen and (max-width: 960px) {
    .plans-banner {
      padding: 80px 0; } }

.plans-banner__title {
  text-align: center;
  color: white;
  font-size: 36px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 0 16px; }

.plans-banner__border {
  height: 2px;
  width: 120px;
  background: white;
  border-radius: 2px;
  margin: 0 auto; }

.plan-enterprise {
  position: relative;
  box-shadow: inset 0 0 0 2px #E0E0E0;
  border-radius: 8px;
  padding: 0 0 0 320px;
  margin: 0 auto;
  overflow: hidden; }
  @media screen and (max-width: 960px) {
    .plan-enterprise {
      display: none; } }

.plan-enterprise__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  padding: 64px 32px;
  background: #1976D2; }

.plan-enterprise__title {
  font-size: 24px;
  font-weight: bold;
  font-family: "asap-bold", "Open Sans", Open-Sans, helvetica, arial;
  line-height: 1.2;
  text-align: center;
  color: white;
  margin: 0 0 24px; }

.plan-enterprise__content {
  padding: 32px 32px 32px 24px; }

.plan-enterprise__included {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  line-height: 24px;
  margin: 0 0 16px 8px; }

.plan {
  padding: 40px 24px;
  overflow: hidden; }
  @media screen and (max-width: 960px) {
    .plan {
      border-radius: 8px;
      padding: 0;
      background: white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      .plan:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); } }

.plan__clickable {
  position: relative;
  border-radius: 8px; }
  @media screen and (max-width: 960px) {
    .plan__clickable {
      cursor: pointer;
      user-select: none;
      padding: 0 0 0 56px; }
      .plan__clickable:hover {
        background: #F5F5F5; }
      .plan__clickable:active {
        background: #E0E0E0; } }

.plan--enterprise {
  display: none; }
  @media screen and (max-width: 960px) {
    .plan--enterprise {
      display: block; } }

@media screen and (max-width: 960px) {
  .plan--open {
    background: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .plan--open .plan__content {
      display: block; }
    .plan--open .plan__mobile-arrow {
      transform: rotate(180deg); } }

.plan__mobile-arrow {
  display: none; }
  @media screen and (max-width: 960px) {
    .plan__mobile-arrow {
      display: block;
      position: absolute;
      top: 0;
      left: 8px;
      padding: 24px 16px; } }

.plan__label {
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 16px; }
  @media screen and (max-width: 960px) {
    .plan__label {
      display: none; } }

.plan__label--reccomended {
  color: #4CAF50; }

.plan__title {
  font-size: 24px;
  font-weight: bold;
  font-family: "asap-bold", "Open Sans", Open-Sans, helvetica, arial;
  line-height: 1.2;
  text-align: center;
  color: #424242; }
  @media screen and (max-width: 960px) {
    .plan__title {
      padding: 16px 0;
      font-size: 18px;
      line-height: 32px;
      text-align: left; } }

.plan__price {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  line-height: 48px;
  color: #757575;
  padding: 8px 0; }
  @media screen and (max-width: 960px) {
    .plan__price {
      position: absolute;
      top: 0;
      right: 0;
      padding: 16px 24px;
      font-size: 16px;
      line-height: 32px;
      font-weight: bold;
      color: #424242; } }

@media screen and (max-width: 960px) {
  .plan__price--monthly:after {
    content: '/month';
    color: #9E9E9E;
    font-weight: normal; } }

.plan__price--reccomended {
  color: #4CAF50; }
  @media screen and (max-width: 960px) {
    .plan__price--reccomended {
      color: #424242; } }

@media screen and (max-width: 960px) {
  .plan__content {
    padding: 0 24px 24px; } }

.plan__frequency {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
  color: #9E9E9E;
  margin: 0 0 16px; }
  @media screen and (max-width: 960px) {
    .plan__frequency {
      display: none; } }

.plan__cta {
  max-width: 240px;
  margin: 0 auto 32px; }
  @media screen and (max-width: 960px) {
    .plan__cta {
      display: none; } }

.plan__border {
  background: #E0E0E0;
  border-radius: 2px;
  height: 2px;
  margin: 0 0 32px; }

.plan__included {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  margin: 0 0 16px; }
  @media screen and (max-width: 960px) {
    .plan__included {
      text-align: left;
      margin: 0 0 16px 8px; } }

@media screen and (max-width: 960px) {
  .plan__content {
    display: none; } }

.plan-feature {
  padding: 0 0 0 32px;
  position: relative; }

.plan-feature__icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  color: #9E9E9E; }

.plan-feature__label {
  padding: 5px 0;
  line-height: 22px;
  font-size: 14px;
  color: #616161; }

.plans-container {
  position: relative;
  margin: -200px 0 0;
  background: white;
  border-radius: 8px 8px 0 0; }
  @media screen and (max-width: 960px) {
    .plans-container {
      margin: 0;
      background: none;
      border-radius: 0; } }

.plans-container__plan {
  float: left;
  width: calc(100%/3);
  margin: 0 0 16px; }
  @media screen and (max-width: 960px) {
    .plans-container__plan {
      float: none;
      width: 100%; } }

.plans-container__plan--reccomended {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0 0 8px 8px; }
  @media screen and (max-width: 960px) {
    .plans-container__plan--reccomended {
      border-radius: 0;
      box-shadow: none; } }

.plans-container__enterprise {
  clear: both; }

.plans-container__usd {
  position: absolute;
  top: -32px;
  left: 0;
  color: white;
  font-size: 14px;
  font-style: italic;
  line-height: 1.2; }
  @media screen and (max-width: 960px) {
    .plans-container__usd {
      position: static;
      margin: 16px 0 0;
      padding: 16px 0;
      text-align: center;
      font-size: 16px; } }

.plans-questions {
  max-width: 560px;
  margin: 0 auto; }

.plans-questions__title {
  margin: 0 0 16px;
  font-size: 24px;
  line-height: 1.2;
  text-align: center; }

.plans-questions__subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  color: #616161;
  margin: 0 0 24px; }

.plans-questions__cta {
  max-width: 240px;
  margin: 0 auto; }

.faq__heading {
  margin: 0 0 40px; }

.faq__grid {
  margin: -20px; }
  @media screen and (max-width: 960px) {
    .faq__grid {
      margin: -20px 0; } }

.faq__item {
  float: left;
  width: 50%;
  padding: 20px; }
  @media screen and (max-width: 960px) {
    .faq__item {
      padding: 20px 0;
      width: 100%; } }

.faq__question {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  margin: 0 0 8px;
  color: #424242; }

.faq__answer {
  font-size: 16px;
  line-height: 1.6;
  color: #616161; }

/*# sourceMappingURL=public.css.map */