// ---
// SVG Lightbulb animation
// ---

.svg-bulb__dot {
  animation-name: svg-bulb-dot;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
.svg-bulb__dot--100{animation-delay: -2400ms;}
.svg-bulb__dot--200{animation-delay: -2000ms;}
.svg-bulb__dot--300{animation-delay: -1600ms;}
.svg-bulb__dot--400{animation-delay: -1200ms;}
.svg-bulb__dot--500{animation-delay: -800ms;}
.svg-bulb__dot--600{animation-delay: -400ms;}
.svg-bulb__dot--700{animation-delay: -000ms;}


@keyframes svg-bulb-dot {
  000% {
    opacity: 0;
  }
  020% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


// ---
// Circle pulse
// ---
.svg-bulb__glow {
  opacity: 0!important;
  animation-name: svg-bulb;
  animation-duration: 8s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  transform-origin: 50%;
}
.svg-bulb__glow--100 {animation-delay:-0000ms;}
.svg-bulb__glow--200 {animation-delay:-4000ms;}

@keyframes svg-bulb {
  000% {
    opacity: 0;
    transform: scale(0.92);
  }
  010% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}
