.features-banner {
  padding: 80px 20px 200px;
  @include screen-med {
    padding: 80px 20px;
  }
}

.features-banner__content {
  margin: 0 440px 0 0;
  min-height: 368px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include screen-med {
    margin: 0;
    min-height: auto;
  }
}

.features-banner__title {
  text-align: left;
  color: white;
  font-size: 36px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 0 16px;
  @include screen-med {
    font-size: 32px;
  }
}

.features-banner__border {
  width: 160px;
  height: 2px;
  border-radius: 2px;
  margin: 0 0 24px;
  background: white;
}

.features-banner__subtitle {
  font-size: 18px;
  line-height: 1.6;
  color: white;
  margin: 0 0 24px;
}


.features-banner__actions {
  height: 56px;
}
.features-banner__signup,
.features-banner__demo {
  float: left;
  min-width: 216px;
}
.features-banner__demo {
  padding: 0 0 0 16px;
  @include screen-mob {
    display: none;
  }
}

.features-banner__illustration {
  float: right;
  width: 368px;
  height: 368px;
  @include screen-med {
    display: none;
  }
}
