.feature-primary {
  position: relative;
  z-index: 5;
  margin: -160px -8px 72px;
  display: flex;
  flex-wrap: wrap;
  @include screen-med {
    margin: 0 0 40px;
  }
}
.feature-primary__item {
  float: left;
  width: calc(100%/3);
  padding: 0 8px;
  @include screen-med {
    width: auto;
    float: none;
    padding: 0;
    margin: 0 0 40px;
    &:last-child {
      margin: 0;
    }
  }
}


.feature-secondary {
  margin: -8px;
  display: flex;
  flex-wrap: wrap;
  @include screen-med {
    margin: 0;
  }
}
.feature-secondary__item {
  float: left;
  width: 50%;
  padding: 8px;
  @include screen-med {
    width: auto;
    float: none;
    padding: 0;
    margin: 0 0 40px;
    &:last-child {
      margin: 0;
    }
  }
}




// primary-feature
.primary-feature {
  position: relative;
  background: white;
  height: 100%;
  width: 100%;
  padding: 32px 24px;
  border-radius: 8px;
  box-shadow: $shadow-200;
  overflow: hidden;
  @include screen-med {
    height: auto;
    box-shadow: none;
    padding: 0 0 0 80px;;
  }
}
.primary-feature__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 8px;
}
.primary-feature__desc {
  font-size: 14px;
  line-height: 1.6;
  color: $color-grey-700;
}

.primary-feature__icon {
  top: 24px;
  left: 24px;
  background: $color-blue-500;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 0 0 16px;
  color: white;
  padding: 16px;
  @include screen-med {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
}


// secondary-feature
.secondary-feature {
  position: relative;
  //background: white;
  height: 100%;
  width: 100%;
  //border-radius: 8px;
  //box-shadow: inset 0 0 0 2px $color-grey-300;
  padding: 24px 24px 24px 104px;
  @include screen-med {
    padding: 0 0 0 80px;
    box-shadow: none;
  }
}
.secondary-feature__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 8px;
}
.secondary-feature__desc {
  font-size: 14px;
  line-height: 1.6;
  color: $color-grey-700;
}
.secondary-feature__icon {
  position: absolute;
  top: 24px;
  left: 24px;
  background: $color-blue-500;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: white;
  padding: 16px;
  @include screen-med {
    top: 0;
    left: 0;
  }
}
